.row
  .span6.offset7.well
    %h2 Sign up
    = simple_form_for resource, :as => resource_name, :url => registration_path(resource_name), :wrapper => 'stacked', :html => { :class => 'form-stacked'} do |f|
      = f.error_notification
      = f.input :email, :required => true, :autofocus => true
      = f.input :password, :required => true
      = f.input :password_confirmation, :required => true
      = f.button :submit, "Sign up", :class => "primary"
    = render :partial => "devise/shared/links"