.row
  .span10
    %h2 Recent Activities
    - @recent_events.each do |event|
      %p
        = link_to "Again!", events_path(:event => {:completed_date => Date.today, :activity_id => event.activity_id, :count => event.count }), :method => 'post', :class => 'btn success'
        #{pluralize(event.count, (event.activity.unit ? event.activity.unit : event.activity.name))}
        = " #{event.activity.unit ? event.activity.name : nil}"

    .row
      .span9.well
        %h2 New Activity
        = simple_form_for @new_event, :wrapper => 'stacked', :html => { :class => 'form-stacked no_offset'} do |f|
          = f.association :activity, :collection => Activity.all, :prompt => "Which Activity?", :label => false
          = f.input :count, :label => "How many?"
          = f.input :completed_date, :label => "Date (Today is default)", :default => Time.now.in_time_zone("Central Time (US & Canada)").to_date
          = f.button :submit, :class => 'primary'

  .span10
    %h2 Leaderboard
    %table.bordered-table.zebra-striped
      %thead
        %th Rank
        %th User
        %th Points
      - @leaderboard_users.each_with_index do |user, index|
        %tr
          %td= index+1
          %td= "#{user.first_name} #{user.last_name}"
          %td= user.days.map(&:score).sum

    %h2 Stats
    %p Today: #{current_user.todays_points}
    %p Daily Average: #{current_user.daily_average}
    %p Total points: #{current_user.total_points}
