.row
  .span6.offset7.well
    %h1 Sign in
    = simple_form_for resource, :as => resource_name, :url => session_path(resource_name), :wrapper => 'stacked', :html => { :class => 'form-stacked'} do |f|
      = devise_error_messages!
      = f.input :email
      = f.input :password
      = f.button :submit, "Sign in", :class => 'primary'
    = render "devise/shared/links"
